<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD Dions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">HOME</a> | 
        <a href="/dinosaurs">DINOSAURS</a> | 
        <a href="/dinosaurs/new">NEW DINO</a>
    </nav>
    <hr>
    <%- body %>
    



    <script src="/js/script.js"></script>
</body>
</html>