<h2>Gimme yer Dino Info</h2>

<form method="POST" action="/dinosaurs">
    <label for="dinosaurName">Name</label>
    <input type="text" name="dinosaurName" />

    <label for="dinosaurType">Type</label>
    <input type="text" name="dinosaurType" />
    
    <input type="submit" value="MAKE MY DINO">
</form>
<br>

<a href="/dinosaurs">BACK TO DINOSAURS</a>